    <!-- Start Footer -->
    <link rel="stylesheet" href="/css/footer.css">
    <div class="footer">
        <div class="container">
            <div class="top-footer">
                <div class="part1">
                    <h3>Albawani Group</h3>
                    <p>Al Bawani is a 100% Saudi owned and managed company, meeting with international standards and applying modern technologies in the field of construction.</p>
                    <img src="images/vision.png" alt="">
                </div>
                <div class="part2">
                    <h3>Twitter</h3>
                    <p>Couldn't Connect With Twitter</p>
                </div>
                <div class="part3">
                    <h3>Office Contact</h3>
                </div>
                <div class="part4">
                    <h3>Our Locations</h3>
                    <img src="/images/map.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bottom-footer">
                <div class="part1">
                    <h3>Wesam Aljazera</h3>
                </div>
                <div class="part2">
                    <p>Copyright 2020 © Albawani Group</p>
                </div>
                <div class="part3">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->