    <!-- Start Footer -->
    <link rel="stylesheet" href="/css/footer.css">
    <div class="footer">
        <div class="container">
            <div class="top-footer">
                <div class="part1">
                    <h3>وسام الجزيرة</h3>
                    <p>شركة تقدم خدمات في العديد من الاشياء مثل دراسات الجدوى والاستشارات الهندسية وغيرها...</p>
                    <img src="images/vision.png" alt="">
                </div>
                <div class="part2">
                    <h3>ساعات العمل</h3>
                    <p>9 صباحا الى 12 مسائا</p>
                </div>
                <div class="part3">
                    <h3>روابط سريعة</h3>
                    <a href="/about-us">من نحن</a>
                    <br>
                    <a href="/contact">تواصل معنا</a>
                </div>
                <div class="part4">
                    <h3>اين تجدنا</h3>
                    <p>السعودية، الرياض</p>
                    <img src="/images/map.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bottom-footer">
                <div class="part1">
                    <h3>وسام الجزيرة</h3>
                </div>
                <div class="part2">
                    <p>كل الحقوق محفوظة 2023 © لشركة وسام الجزيرة</p>
                </div>
                <div class="part3">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->