    <!-- Start Header -->
    <style>
        *{
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <header>
        <div class="container">
            <h2 class="logo">Wesam Algazera</h2>
            <div class="links">
                <span class="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul class="all-links">
                    <li>
                        <a href="#">Company</a>
                        <ul class="classic-list">
                            <li><a href="/about-us" target="_blank">About US</a></li>
                            <li><a href="/clients" target="_blank">Our Clients</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Services</a>
                        <ul class="classic-list">
                            <li><a href="/feasibility-studies" target="_blank">Feasibility studies</a></li>
                            <li><a href="/engineering-consultancy" target="_blank">Engineering Consultancy</a></li>
                            <li><a href="/marketing-consultancy" target="_blank">Marketing consulting</a></li>
                            <li><a href="/tenders" target="_blank">Tenders</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" target="_blank">Contact</a>
                    </li>
                    <!-- <li>
                        <a href="#">Careers</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- Jquery Cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main Js File -->
    <script src="/js/main.js"></script>
    <script src="/js/header.js"></script>