<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Clients</title>
    <!-- Main Css File -->
    <link rel="stylesheet" href="css/clients.css">
    <!-- Normalize File -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Global Rules File -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Header File -->
    <link rel="stylesheet" href="css/header.css">
    <!-- FrameWork File -->
    <link rel="stylesheet" href="css/framework.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900" rel="stylesheet">
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <!-- Start Header Image -->
    <div class="container">
        <img class="header-img" src="images/carousel 02.jpg" alt="">
    </div>
    <!-- End Header Image -->
    <div class="our-clients">
        <div class="container">
            <!-- <h4>We Trust On Them</h4>
            <h2>Our Partners</h2> -->
            <div class="line">
                <img src="images/Microsoft.svg" alt="">
                <img src="images/Lenovo.png" alt="">
                <img src="images/Sony.png" alt="">
                <img src="images/Dynamics.png" alt="">
            </div>
            <div class="line">
                <img src="images/Microsoft.svg" alt="">
                <img src="images/Lenovo.png" alt="">
                <img src="images/Sony.png" alt="">
                <img src="images/Dynamics.png" alt="">
            </div>
            <div class="line">
                <img src="images/Microsoft.svg" alt="">
                <img src="images/Lenovo.png" alt="">
                <img src="images/Sony.png" alt="">
                <img src="images/Dynamics.png" alt="">
            </div>
            <div class="line">
                <img src="images/Microsoft.svg" alt="">
                <img src="images/Lenovo.png" alt="">
                <img src="images/Sony.png" alt="">
                <img src="images/Dynamics.png" alt="">
            </div>
        </div>
    </div>
    <!-- Jquery Cdn -->
    <%- include ('partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main Js File -->
    <!-- <script src="js/header.js"></script> -->
</body>
</html>