<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering Consultancy</title>
    <!-- Main Css File -->
    <link rel="stylesheet" href="css/service.css">
    <!-- Normalize File -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Global Rules File -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Header File -->
    <link rel="stylesheet" href="css/header.css">
    <!-- FrameWork File -->
    <link rel="stylesheet" href="css/framework.css">
    <!-- Cairo Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <!-- Start Header Image -->
    <div class="container">
        <img class="header-img" src="images/service3.jpeg" alt="">
    </div>
    <!-- Start Marketing Consultancy -->
    <div class="market-cons">
        <div class="container">
            <h2 class="heading">الاستشارات الهندسية</h2>
            <p>هي واحدة من الخدمات التي نقدمها في موقعنا على الإنترنت. وتتضمن هذه الخدمة تقديم المشورة الفنية والاستشارات في مختلف المجالات الهندسية، وتشمل الهندسة المدنية والمعمارية والكهربائية والميكانيكية والنفطية وغيرها.
                فريقنا المؤهل والمتخصص يقوم بتقديم النصائح والمعلومات الفنية اللازمة لضمان النجاح في تنفيذ المشاريع الهندسية. ويمكن تقسيم خدمة الإستشارات الهندسية إلى عدة مجالات رئيسية.</p>
            <h4 class="heading-point">التصميم الهندسي</h4>
            <p>يقوم فريق الخبراء بتقديم النصائح والإرشادات حول التصميم الهندسي للمشاريع الجديدة والمنشآت الحالية. وتشمل هذه الخدمة تصميم الهياكل والمباني والجسور والطرق والمنشآت الصناعية والنفطية والغيرها، بالإضافة إلى تقديم النصائح حول استخدام التقنيات الحديثة في التصميم الهندسي.</p>
            <h4 class="heading-point">الاشراف على المشاريع</h4>
            <p>يقوم فريق الخبراء بتقديم النصائح والمعلومات الفنية حول إدارة وإشراف المشاريع الهندسية، وتقييم الأداء والجودة المتحققة في المشاريع، وتقديم الحلول المناسبة لتحسين أداء المشاريع وضمان نجاحها.</p>
            <h4 class="heading-point">التسويق الإلكتروني</h4>
            <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية تسويق المنتجات والخدمات عبر الإنترنت، وذلك من خلال استخدام التقنيات الحديثة في التسويق الإلكتروني، مثل الإعلانات المدفوعة والتسويق عبر البريد الإلكتروني والتسويق عبر وسائل التواصل الاجتماعي.</p>
            <h4 class="heading-point">التحليل الهندسي</h4>
            <p>يقوم فريق الخبراء بتحليل وتقييم العديد من العوامل الهندسية المتعلقة بالمشاريع والمنشآت، مثل التصميم الهندسي والتكلفة والمواد المستخدمة والسلامة والبيئة والمواصفات والمعايير والتشريعات، وتقديم الحلول المناسبة لحل المشكلات المتعلقة بها.</p>
            <h4 class="heading-point">الاستشارات الفنية</h4>
            <p>يقوم فريق الخبراء بتقديم الإستشارات الفنية والنصائح في مختلف المجالات الهندسية، وذلك للمساعدة في حل المشكلات الفنية المختلفة التي تواجه المشاريع الهندسية.</p>
            <p>باختصار، فريق الخبراء في موقعنا على الإنترنت يعمل على تقديم حلول مبتكرة ومتكاملة في خدمة الإستشارات الهندسية، ويسعى دائمًا لتحقيق رضا العملاء وتقديم خدمات عالية الجودة. وبالتالي،يمكن الاعتماد علينا لتحقيق أهداف المشاريع الهندسية بكفاءة ودقة. ولتحقيق ذلك، يتم توفير خدمات متعددة وشاملة في مجال الإستشارات الهندسية، وذلك لتلبية احتياجات العملاء بشكل كامل. وبالإضافة إلى ذلك، يتم توفير خدمات مبتكرة ومتكاملة في مجال التصميم الهندسي والإشراف على المشاريع والتحليل الهندسي والإستشارات الفنية، وذلك لتحقيق أفضل النتائج وضمان نجاح المشاريع الهندسية. ويتم تقديم هذه الخدمات من خلال فريق مؤهل ومتخصص في المجالات الهندسية المختلفة، وذلك لتلبية احتياجات العملاء بأفضل الطرق الممكنة. وبالتالي، يمكن للعملاء الاعتماد علينا لتحقيق أهدافهم بكفاءة ودقة.</p>
            <p>نحن كفريق عمل متخصص في الاستشارات الهندسية، نتمتع بخبرة واسعة في العمل على المشاريع الحكومية والخاصة، كبيرة أو متوسطة أو صغيرة، ونقدم خدماتنا بشكل متميز وعالي الجودة لتحقيق أفضل النتائج لعملائنا. ونحن دائماً على استعداد لتلبية احتياجات عملائنا وتقديم الحلول الهندسية المناسبة لمشاريعهم.
            </p>
        </div>
    </div>
    <!-- End Marketing Consultancy -->
    <%- include ('partials/footer.ejs') %>
    <!-- Jquery Cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main Js File -->
    <!-- <script src="js/header.js"></script> -->
</body>
</html>