<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Consultancy</title>
    <!-- Main Css File -->
    <link rel="stylesheet" href="css/service.css">
    <!-- Normalize File -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Global Rules File -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Header File -->
    <link rel="stylesheet" href="css/header.css">
    <!-- FrameWork File -->
    <link rel="stylesheet" href="css/framework.css">
    <!-- Cairo Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <!-- Start Marketing Consultancy -->
    <div class="service">
        <div class="container">
            <div class="top">
                <div class="image">
                    <img class="header-img" src="images/service1.jpg" alt="">
                </div>
                <div class="info">
                    <h2 class="heading">الاستشارات التسويقية</h2>
                    <p>هي خدمة مهمة نقدمها في موقعنا على الإنترنت، تهدف إلى تزويد الشركات والأفراد بالنصائح والاستشارات المهنية في مجال التسويق. تقوم هذه الخدمة بتقديم النصائح والتوجيهات في مختلف جوانب التسويق، بما في ذلك البحوث السوقية، وإدارة العلاقات مع العملاء، والتسويق الإلكتروني، والتسويق عبر وسائل التواصل الاجتماعي، والتسويق الإعلاني، والتسويق الدولي وغيرها.
                        يتم تقديم خدمة الإستشارات التسويقية من قبل فريق مؤهل ومتخصص في مجال التسويق، حيث يعمل هذا الفريق على تحليل السوق وفهم احتياجات العملاء وتحديد الفرص التسويقية المتاحة وتقديم الحلول المناسبة لتحقيق أهداف الشركات والأفراد.
                        وتتضمن خدمة الإستشارات التسويقية عددًا من المجالات الرئيسية، وهي كالتالي:
                    </p>
                </div>
            </div>
            <div class="bottom">
                <div class="service-feat">
                    <h4 class="heading-point">البحوث السوقية</h4>
                    <p>يقوم فريق الخبراء بتحليل السوق ودراسة الاتجاهات الحالية والتوقعات المستقبلية في سوق المنتجات أو الخدمات، وتقديم التوصيات والنصائح حول المنتجات أو الخدمات المطلوبة والجديدة، وتقييم العلامات التجارية والمنافسين.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">إدارة العلاقات مع العملاء</h4>
                    <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية تطوير العلاقات مع العملاء وتحسين تجربة العملاء، وذلك من خلال تقديم حلول مخصصة لتلبية احتياجات العملاء وتحسين رضاهم.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">التسويق الإلكتروني</h4>
                    <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية تسويق المنتجات والخدمات عبر الإنترنت، وذلك من خلال استخدام التقنيات الحديثة في التسويق الإلكتروني، مثل الإعلانات المدفوعة والتسويق عبر البريد الإلكتروني والتسويق عبر وسائل التواصل الاجتماعي.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">التسويق الإعلاني</h4>
                    <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية إنشاء حملات إعلانية فعالة وجذابة للعملاء، وذلك من خلال تحليل السوق وفهم احتياجات العملاء وتحديد القنوات الإعلانية المناسبة لنشر الإعلانات.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">التسويق عبر وسائل التواصل الاجتماعي</h4>
                    <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية استخدام وسائل التواصل الاجتماعي لتسويق المنتجات والخدمات، وذلك من خلال تحليل السوق وتحديد الفئات المستهدفة وتصميم الحملات الإعلانية المناسبة لهذه الفئات.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">التسويق الدولي</h4>
                    <p>يقوم فريق الخبراء بتقديم النصائح حول كيفية تسويق المنتجات والخدمات في الأسواق الدولية، وذلك من خلال تحليل السوق الدولية وفهم الثقافات واللغات المختلفة وتصميم الحملات الإعلانية المناسبة لهذه الأسواق.</p>
                </div>
            </div>
            <p>وتتميز خدمة الإستشارات التسويقية بالدقة والتركيز على الجوانب الهامة للتسويق، وتقديم الحلول المناسبة لتحقيق أهداف الشركات والأفراد. ونحن نضمن جودة الخدمة ورضا العملاء، ونعمل دائمًا على تحسين وتطوير الخدمة لتلبية احتياجات العملاء بشكل أفضل وأسرع.</p>
        </div>
    </div>
    <!-- End Marketing Consultancy -->
    <%- include ('partials/footer.ejs') %>
    <!-- Jquery Cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main Js File -->
    <!-- <script src="js/header.js"></script> -->
</body>
</html>