<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender Work</title>
    <!-- Main Css File -->
    <link rel="stylesheet" href="css/service.css">
    <!-- Normalize File -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Global Rules File -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Header File -->
    <link rel="stylesheet" href="css/header.css">
    <!-- FrameWork File -->
    <link rel="stylesheet" href="css/framework.css">
    <!-- Cairo Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <!-- Start Marketing Consultancy -->
    <div class="service">
        <div class="container">
            <div class="top">
                <div class="image">
                    <img class="header-img" src="images/service2.jpg" alt="">
                </div>
                <div class="info">
                    <h2 class="heading">عمل المناقصات</h2>
                    <p>تعد خدمة مهمة للغاية للعملاء الذين يبحثون عن الحصول على عروض أسعار من موردين مختلفين، وخاصة عندما يتعلق الأمر بمشاريع حكومية أو مشاريع كبرى في القطاع الخاص. ونحن كفريق عمل متخصص في مجال خدمة عمل المناقصات، نقدم خدماتنا على منصات عديدة بما في ذلك</p>
                </div>
            </div>
            <div class="bottom">
                <div class="service-feat">
                    <h4 class="heading-point">منصة اعتماد للمنافسات الحكومية</h4>
                    <p>تعد هذه المنصة منصة رائدة في مجال المناقصات الحكومية في المملكة العربية السعودية، حيث تقوم المنصة بتوفير مجموعة شاملة من الخدمات المتعلقة بعملية المناقصات والمزايدات الحكومية.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">منصة الشركة السعودية للكهرباء</h4>
                    <p>تعد هذه المنصة المنصة الرئيسية المختصة في المناقصات الخاصة بالكهرباء في المملكة العربية السعودية، حيث تقوم المنصة بتوفير خدمات متعددة تشمل تحليل المتطلبات وإدارة العروض الأسعار وتحضير العقود.</p>
                </div>
                <div class="service-feat">
                    <h4 class="heading-point">منصة شركة المياه الوطنية</h4>
                    <p>تعد هذه المنصة المنصة الرئيسية المختصة في المناقصات الخاصة بالمياه في المملكة العربية السعودية، حيث تقوم المنصة بتوفير خدمات متعددة تشمل تحليل المتطلبات وإدارة العروض الأسعار وتحضير العقود.</p>
                </div>
            </div>
            <h3 class="small-heading">افضل مميزاتنا في خدمة عمل المناقصات: </h3>
            <div class="small-services">
                <div class="service-feat-small">
                    <h4 class="heading-point-small">توفير الوقت والجهد</h4>
                    <p>حيث يتم تحليل المتطلبات وتحضير الإعلان وإدارة العروض الأسعار من قبل فريق عمل متخصص، مما يوفر الكثير من الوقت والجهد للعملاء.</p>
                </div>
                <div class="service-feat-small">
                    <h4 class="heading-point-small">الحصول على عروض أسعار من موردين مختلفين</h4>
                    <p>حيث يتم نشر الإعلان على موقعنا، ويتمكن الموردون المختلفون من تقديم عروض أسعارهم، مما يتيح للعملاء الحصول على عروض متنوعة ومنافسة.</p>
                </div>
                <div class="service-feat-small">
                    <h4 class="heading-point-small">تحسين جودة المنتجات والخدمات</h4>
                    <p>حيث يتم تحديد المواصفات والمعايير المطلوبة للمنتج أو الخدمة، وهذا يضمن حصول العملاء على منتجات وخدمات ذات جودة عالية.</p>
                </div>
                <div class="service-feat-small">
                    <h4 class="heading-point-small">تقليل التكاليف</h4>
                    <p>حيث يتم تحقيق التنافسية بين الموردين المختلفين، مما يتيح للعملاء الحصول على عروض أسعار بأسعار منافسة ومنخفضة.</p>
                </div>
                <div class="service-feat-small">
                    <h4 class="heading-point-small">الحصول على عقود موثقة</h4>
                    <p>حيث يتم إعداد عقود موثقة بالتفاصيل اللازمة لتوثيق الاتفاقيات مع الموردين، وهذا يضمن حماية العملاء من أي مشاكل مستقبلية.</p>
                </div>
            </div>
            <p>بشكل عام، تعد خدمة عمل المناقصات من الخدمات الأساسية التي يحتاجها الكثير من العملاء، وتقدم الخدمة بشكل متكامل ومتخصص لتحقيق أفضل النتائج بأقل التكاليف وأقصر الأوقات الممكنة.</p>
        </div>
    </div>
    <!-- End Marketing Consultancy -->
    <%- include ('partials/footer.ejs') %>
    <!-- Jquery Cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Main Js File -->
    <!-- <script src="js/header.js"></script> -->
</body>
</html>