/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap'); */
/* Start Variables */
:root{
    --main-color: #0A6836;
}
/* End Variables */
body{
    font-family: 'Cairo', sans-serif;
    /* text-align: right; */
}
.market-cons{
    direction: rtl;
}
.header-img{
    width: 100%;
    height: 400px;
}
.heading{
    font-size: 27px;
    font-weight: 700;
    line-height: 35.1px;
    color: rgb(15, 15, 15);
}
.heading-point{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(30, 41, 59);
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
    color: rgb(122, 122, 122);
}